body {
    font-family: sans-serif;
    padding: 8px;
    background-image: url(anime_scenery.jpg);
}

#btn1 {
    background-color: skyblue;
    /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    color: aliceblue;
    text-shadow: 2px 2px 8px black;
    padding: 10px;
    text-align: center;
}

#details {
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 20px;
}

#demo {
    padding: 40px;
    line-height: 1.6;
}

#thecity {
    padding: 5px 12px;
}

#search {
    padding: 50px;
    text-align: center;
}
